<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Yellowtail&display=swap" rel="stylesheet">
		<link href="../../static/css/indexstyle.css" th:href="@{css/indexstyle.css}" rel="stylesheet"/>	
	</head>
	<body>
			<nav>
				<img th:src="@{images/logo.PNG}" alt="Logo"/>
				<ul>
					<li><a href=#>Imprimir</a></li>
					<li><a href=#>Contacto</a></li>
					<li><a id="login" href=#>Iniciar Sesion</a></li>
					<li><a id="register" class="button" href=#>Registrarte</a></li>
				</ul>
			</nav>
			<header>
		        <div class="hero">
		            <div class="contenido-header">        
		                    <h1 class="letter">UAMIPrint</h1>
		                    <p class="slogan">!!! la mejor Opción para<b> tus impresiones</b>!!!</p>
		                <!--informacion-evento-->
		            </div>
		        </div>
		        <!--Img Hero-->
		    </header>
			
			<div class="modal-bg">
				<div class="modal-login">
					<div class="close">+</div>
					<form action="#">
						<input id="email-login" type="email" placeholder="Email">
						<input id="password-login" type="password" placeholder="Contraseña">
						<a id="login-button" class="button" href=#>Iniciar Sesion</a>
					</form>
					<img th:src="@{images/footer.PNG}" alt="footer"/>
				</div>
			</div>
			
			<div class="modal-bg2">
				<div class="modal-register">
					<div class="close2">+</div>
					<form action="#">
						<input id="nombre-register" type="text" placeholder="Nombre">
						<input id="apellido-register" type="text" placeholder="Apellido">
						<input id="matricula-register" type="number" placeholder="Matricula">
						<input id="usuario-register" type="text" placeholder="Usuario">
						<input id="email-register" type="email" placeholder="Email">
						<input id="password-register" type="password" placeholder="Contraseña">
						<a id="register-button" class="button" href=#>Registrarme</a>
					</form>
					<img th:src="@{images/footer.PNG}" alt="footer"/>
				</div>
			</div>
			
			<main>
				<h2>Conoce nuestro servicio.</h2>
				<p>Manda a <b>imprimir</b> cuando quieras y recoje en la papelería sin hacer fila.</p>
				<div>
					<h3>Pasos: </h3>
					<ol>
					<li>Registrate en nuestra plataforma.</li>
					<li>Inicia Sesion con tu usuario registrado.</li>
					<li>Sube el archivo que quieras imprimir.</li>
					<li>Da click en imprimir.</li>
					</ol>
					<legend><b>!Listo!</b> tu archivo estará impreso cuando lo recojas.</legend>
				</div>
			</main>
	</body>
	<footer>
	<p class="copyright">Todos los derechos Reservados Equipo UAMIPrint &reg; 2020</p>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../../static/js/jquery.lettering.js"></script>
	<script>
		document.getElementById("login").addEventListener("click", function(){
			document.querySelector('.modal-bg').style.display = 'flex';
			document.querySelector('body').style.overflow="hidden";
		});
		document.querySelector('.close').addEventListener("click", function() {
			document.querySelector('.modal-bg').style.display = "none";
			document.querySelector('body').style.overflow="scroll";
		});
		document.getElementById("register").addEventListener("click", function(){
			document.querySelector('.modal-bg2').style.display = 'flex';
			document.querySelector('body').style.overflow="hidden";
		});
		document.querySelector('.close2').addEventListener("click", function() {
			document.querySelector('.modal-bg2').style.display = "none";
			document.querySelector('body').style.overflow="scroll";
		});
		$(document).ready(function(){
			$(".letter").lettering();
		});
		/*global jQuery */
		/*!
		* Lettering.JS 0.7.0
		*
		* Copyright 2010, Dave Rupert http://daverupert.com
		* Released under the WTFPL license
		* http://sam.zoy.org/wtfpl/
		*
		* Thanks to Paul Irish - http://paulirish.com - for the feedback.
		*
		* Date: Mon Sep 20 17:14:00 2010 -0600
		*/
		(function($){
			function injector(t, splitter, klass, after) {
				var text = t.text()
				, a = text.split(splitter)
				, inject = '';
				if (a.length) {
					$(a).each(function(i, item) {
						inject += '<span class="'+klass+(i+1)+'" aria-hidden="true">'+item+'</span>'+after;
					});
					t.attr('aria-label',text)
					.empty()
					.append(inject)

				}
			}


			var methods = {
				init : function() {

					return this.each(function() {
						injector($(this), '', 'char', '');
					});

				},

				words : function() {

					return this.each(function() {
						injector($(this), ' ', 'word', ' ');
					});

				},

				lines : function() {

					return this.each(function() {
						var r = "eefec303079ad17405c889e092e105b0";
						// Because it's hard to split a <br/> tag consistently across browsers,
						// (*ahem* IE *ahem*), we replace all <br/> instances with an md5 hash
						// (of the word "split").  If you're trying to use this plugin on that
						// md5 hash string, it will fail because you're being ridiculous.
						injector($(this).children("br").replaceWith(r).end(), r, 'line', '');
					});

				}
			};

			$.fn.lettering = function( method ) {
				// Method calling logic
				if ( method && methods[method] ) {
					return methods[ method ].apply( this, [].slice.call( arguments, 1 ));
				} else if ( method === 'letters' || ! method ) {
					return methods.init.apply( this, [].slice.call( arguments, 0 ) ); // always pass an array
				}
				$.error( 'Method ' +  method + ' does not exist on jQuery.lettering' );
				return this;
			};

		})(jQuery);
		/********FIN DE LETTERING*********/
	</script>
</html>