<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="../../static/css/indexstyle.css" th:href="@{css/indexstyle.css}" rel="stylesheet"/>	
	</head>
	<body>
			<nav>
				<img th:src="@{images/logo.PNG}" alt="Logo"/>
				<ul>
					<li><a href=#>Imprimir</a></li>
					<li><a href=#>Contacto</a></li>
					<li><a id="login" href=#>Iniciar Sesion</a></li>
					<li><a id="register" class="button" href=#>Registrarte</a></li>
				</ul>
			</nav>
			
			<div class="modal-bg">
				<div class="modal-login">
					<div class="close">+</div>
					<form action="">
						<input id="email-login" type="email" placeholder="Email">
						<input id="password-login" type="password" placeholder="Contraseña">
						<a id="login-button" class="button" href=#>Iniciar Sesion</a>
					</form>
					<img th:src="@{images/footer.PNG}" alt="footer"/>
				</div>
			</div>
			
			<div class="modal-bg2">
				<div class="modal-register">
					<div class="close2">+</div>
					<form action="">
						<input id="nombre-register" type="text" placeholder="Nombre">
						<input id="apellido-register" type="text" placeholder="Apellido">
						<input id="matricula-register" type="number" placeholder="Matricula">
						<input id="usuario-register" type="text" placeholder="Usuario">
						<input id="email-register" type="email" placeholder="Email">
						<input id="password-register" type="password" placeholder="Contraseña">
						<a id="register-button" class="button" href=#>Registrarme</a>
					</form>
					<img th:src="@{images/footer.PNG}" alt="footer"/>
				</div>
			</div>
	</body>
	<script>
		document.getElementById("login").addEventListener("click", function(){
			document.querySelector('.modal-bg').style.display = 'flex';
		});
		document.querySelector('.close').addEventListener("click", function() {
			document.querySelector('.modal-bg').style.display = "none";
		});
		document.getElementById("register").addEventListener("click", function(){
			document.querySelector('.modal-bg2').style.display = 'flex';
		});
		document.querySelector('.close2').addEventListener("click", function() {
			document.querySelector('.modal-bg2').style.display = "none";
		});
	</script>
</html>