<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Yellowtail&display=swap" rel="stylesheet">
		<link href="../../static/css/pedidoClienteStyle.css" th:href="@{/css/pedidoClienteStyle.css}" rel="stylesheet"/>	
	</head>
	<body>
		<nav>
			<img th:src="@{/images/logo.PNG}" alt="Logo"/>
			<ul>
				<!-- <li><a href=#>Imprimir</a></li>  -->
				<!-- <li><a id="a_contacto" href="#contacto">Contacto</a></li> -->
				<li><a id="cerrar_sesion" href="http://localhost:8080/">Cerrar Sesion</a></li>
				<!-- <li><a id="register" class="button" href=#>Registrarte</a></li> -->
			</ul>
		</nav>
		
		
		<h1>Realizar solicitud de impresión</h1>
		<!-- <pre id = "matricula_usuario" th:text="${matricula}"></pre>  -->
			<form action="#" id="form-pedido" name="form-pedido">
			
				<p class="titulo-pedido">Tipo de impresión:</p>
				<div class="impersionType-container">
					<input type=radio id="impresionTypeC" name="tipo" value="Color">
					<label for="impresionTypeC">Color</label>
					<input type=radio id="impresionTypeByN" name="tipo" value="BlancoNegro">
					<label for="impresionTypeByN">Blanco y Negro</label>
				</div>
				
				<p class="titulo-pedido">Documento a imprimir:</p>
				<div class="impersionType-container">
					<label for="archivo">Añade un archivo a imprimir:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
					<input type="file" id="archivo" name="archivo" accept="application/pdf">
				</div>
				
				<p class="titulo-pedido">Descripción:</p>
				<div class="impersionType-container">
					<label for="comentario">Descripción de tu impresión:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
					<input type="text" id="comentario" placeholder="Descripcion" name="comentario"/>
				</div>
				
				<p class="titulo-pedido">Total a pagar:</p>
				<div class="impersionType-container">
					<p id="totalPagar" class="totalPago">El pedido es de $******* MXN.</p>
				</div>
				
				<p class="titulo-pedido">Forma de pago:</p>
				<div class="impersionType-container">
					<!--<button class="metodoPago">Efectivo</button>-->
					<!--<button class="metodoPago">Tarjeta de Credito</button>  -->
					<input type="radio" id="pagoTypeE" name="pago" value="efectivo">
					<label for="pagoType" class="metodoPago">Efectivo</label>
					<input type="radio" id="pagoTypeT" name="pago" value="tarjeta">
					<label for="pagoTypeT" class="metodoPago">Tarjeta de Credito</label>
				</div>
				<div class="impersionType-container">
					<button type="submit" id="realizaPedido" class="button">Solicitar ahora</button>
				</div>
			</form>
		
			<footer>
				<p class="copyright">Todos los derechos Reservados Equipo UAMIPrint &reg; 2020</p>
			</footer>
		
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	
	<script th:inline="javascript"> //Permite usar los datos del model objeto
	var matricula_usuario = [[${matricula}]];
	console.log(matricula_usuario);
	
	const formulario_registrar_pedido = document.querySelector('#form-pedido');
	
	/********VALIDACION DE TAMAÑO Y TIPO DE ARCHIVO*********/
		var fileNameAux = '';
		const costo = document.querySelector('#totalPagar');
		var costoTotal = 0;
		var count = 0;
		var color_archivo = '';
		var forma_pago = '';
		/**DATOS DOCUMENTO**/
		$(document).on('change','input[type="file"]',function(){
			// this.files[0].size recupera el tamaño del archivo
			// alert(this.files[0].size);
			if(this.files[0]){
		    fileName = this.files[0].name;
		    fileSize = this.files[0].size;
		    
		    fileNameAux = fileName;
		
			if(fileSize > 20000000){
				alert('El archivo no debe superar los 3MB');
				this.value = '';
				this.files[0].name = '';
			}else{
				if(fileSize > 10000000){
					$("#pagoTypeE").attr('disabled', true);
					Swal.fire({
			              icon: 'warning',
			              title: 'Advertencia!',
			              text:'No puedes pagar en efectivo este archivo tienes que acudir a la sucursal!',
			            });
				}else{
					$("#pagoTypeE").attr('disabled', false);
				}
				// recuperamos la extensión del archivo
				var ext = fileName.split('.').pop();
				
				// Convertimos en minúscula porque 
				// la extensión del archivo puede estar en mayúscula
				ext = ext.toLowerCase();
		    
				// console.log(ext);
				switch (ext) {
					case 'pdf':
						var reader = new FileReader();
						reader.readAsBinaryString(this.files[0]);
						reader.onloadend = function(){
						    count = reader.result.match(/\/Type[\s]*\/Page[^s]/g).length;
						    console.log('Número de páginas del pdf:',count );
						    if(color_archivo === 'Color'){
						    	costoTotal = 2*count;
						    }
						    if(color_archivo === 'BlancoNegro'){
						    	costoTotal = .5*count;
						    }
							costo.innerHTML= "El pedido es de $"+costoTotal.toString()+"MXN.";
						}
						
						break;
					default:
						alert('El archivo no tiene la extensión adecuada');
						this.files[0].name = '';
						this.value = ''; // reset del valor
				}
			}
			}else{
				costoTotal = 0;
				costo.innerHTML= "El pedido es de $********MXN.";
			}
		});
		$("input[name=tipo]").change(function () {	 
			color_archivo = $(this).val();
			console.log(color_archivo);
			if(costoTotal > 0 && count !== 0){
				if(color_archivo === 'Color'){
			    	costoTotal = 2*count;
			    }
			    if(color_archivo === 'BlancoNegro'){
			    	costoTotal = .5*count;
			    }
				costo.innerHTML= "El pedido es de $"+costoTotal.toString()+"MXN.";
			}else{
				costo.innerHTML= "El pedido es de $********MXN.";

			}
			});
		$("input[name=pago]").change(function () {	 
			if($('#pagoTypeT').is(':checked')) {
				/*Swal.fire({
					tile: 'Introduce los dígitos de tu tarjeta',
					  input: 'text',
					  confirmButtonText: 'Confirmar &rarr;',
					  showCancelButton: true,
					  inputValidator: (value) => {
						    if (!value) {
						      return 'You need to write something!'
						    }
						  }
					}).then((result) => {
					  if (result.value) {
						  
					    const answers = JSON.stringify(result.value)
					    //console.log(typeof(answers),answers);
					    //console.log(typeof(result.value),result.value);
   					    const xhr = new XMLHttpRequest();
					 	xhr.onload = function() {
		        			if (this.status === 200) {
            					console.log(xhr.responseText);
		            			const resultado = JSON.parse(xhr.responseText);
		            			console.log(resultado); 
		            			forma_pago = $("#pagoTypeT").val();
		            			console.log(forma_pago);
		            			/*Swal.fire({
		            				  icon: 'success',
			  					      title: 'La tarjeta!',
			  					      html: `
			  					        Número de tarjeta:
			  					        <pre><code>${answers}</code></pre>
			  					      `,
			  					      confirmButtonText: 'Hecho!'
			  					    });*/
			  					 /* const Toast = Swal.mixin({
			  						  toast: true,
			  						  position: 'center',
			  						  showConfirmButton: false,
			  						  timer: 2000,
			  						  timerProgressBar: false,
			  						  onOpen: (toast) => {
			  						    toast.addEventListener('mouseenter', Swal.stopTimer)
			  						    toast.addEventListener('mouseleave', Swal.resumeTimer)
			  						  }
			  						})

			  						Toast.fire({
			  						  icon: 'success',
			  						  title: 'Tarjeta encontrada',
			  						})
		        			}else{
					        	console.log(this.status);
					        	
					        	Swal.fire({
						              icon: 'error',
						              title: 'Error!',
						              text:'¡No se puede Encontrar la tarjeta!',
						            });
		        			}
		    			}
		        		xhr.open('GET', 'http://localhost:8080/tarjeta/'+result.value);
			           // send rquest with JSON payload
			           xhr.send();		    
					  }else if (
							    /* Read more about handling dismissals below */
							    /*result.dismiss === Swal.DismissReason.cancel
							  ) {
						  /*$('#pagoTypeT').prop('checked',false);
							  }
					})*/
					
				(async () => {

					const { value: formValues } = await Swal.fire({
					  title: 'Ingresa los datos de la tarjeta',
					  html:
					    '<input id="num-tarjeta" class="swal2-input" placeholder="Número de la tarjeta">' +
					    '<input id="num-cvv" class="swal2-input" placeholder="CVV" style="width:25%!important;" >'+
					    '<input id="fechaE" class="swal2-input" placeholder="Fecha de Expiración" style="width:50%!important;margin-left: 10%;">',
					    showConfirmButton: true,
					    confirmButtonText:'PAGAR!',
					    confirmButtonColor: '#00ff00',
					    showCancelButton: true,
					    cancelButtonText:'Cancelar!',
					    cancelButtonColor: '#00ff00',
					  focusConfirm: false,
					  preConfirm: () => {
						  if(document.getElementById('num-tarjeta').value != '' && document.getElementById('num-cvv').value != '' && document.getElementById('fechaE').value != ''){
					    return [
					      document.getElementById('num-tarjeta').value,
					      document.getElementById('num-cvv').value,
					      document.getElementById('fechaE').value 
					    ]
						  }else{
							  Swal.fire({
					              icon: 'error',
					              title: 'Error!',
					              text:'¡Todos los campos son Obligatorios!',
					            });
							  $('#pagoTypeT').prop('checked',false);
						  }
					  }
					})

					if (formValues) {
					  datos_tarjeta = JSON.stringify(formValues)
					  console.log(costoTotal,datos_tarjeta, formValues);
					  var datos = {
			            	    "cvv":parseInt(formValues[1]),
			            	    "fechaE":formValues[2],
			            	    "CostoCompra":costoTotal
			            	}
					  console.log(datos);
					  const xhr = new XMLHttpRequest();
					 	xhr.onload = function() {
		        			if (this.status === 200) {
          					console.log(xhr.responseText);
		            			const resultado = JSON.parse(xhr.responseText);
		            			console.log(resultado); 
		            			forma_pago = $("#pagoTypeT").val();
		            			console.log(forma_pago);
			  					  const Toast = Swal.mixin({
			  						  toast: true,
			  						  position: 'center',
			  						  showConfirmButton: false,
			  						  timer: 2000,
			  						  timerProgressBar: false,
			  						  onOpen: (toast) => {
			  						    toast.addEventListener('mouseenter', Swal.stopTimer)
			  						    toast.addEventListener('mouseleave', Swal.resumeTimer)
			  						  }
			  						})

			  						Toast.fire({
			  						  icon: 'success',
			  						  title: 'Pago realizado!',
			  						})
			  						$("#pagoTypeT").attr('disabled', true);
			  						$("#pagoTypeE").attr('disabled', true);
		        			}else{
					        	console.log(this.status);
					        	
					        	Swal.fire({
						              icon: 'error',
						              title: 'Error!',
						              text:'¡No se puede Realizar el Pago!',
						            });
					        	$('#pagoTypeT').prop('checked',false);
		        			}
		    			}
		        		xhr.open('GET', 'http://localhost:8080/pagoTarjeta/'+formValues[0]);
		        		// set `Content-Type` header
		    		    xhr.setRequestHeader('Content-Type', 'application/json');

		    		    // send rquest with JSON payload
		    		    xhr.send(JSON.stringify(datos));    
					}else{
						console.log('En cancelar');
						$('#pagoTypeT').prop('checked',false);
					}

					})();
					
				
				}else{
					if($('#pagoTypeE').is(':checked')) {
						forma_pago = $("input[name=pago]").val();
            			console.log(forma_pago);
					}
				}
			});
	
		/***REGISTRAR PEDIDO***/
		document.getElementById("realizaPedido").onclick = function() {eventListeners("pedido")};
		function leerFormulario(e) {
		    e.preventDefault(); // el action ya no se ejecuta de php y cae en el default
		   
		   /**Verifico si fueron llenados los campos**/
		   if (color_archivo === ''){
					   console.log('Algun campo vacio');
			            Swal.fire({
				              icon: 'error',
				              title: 'Error!',
				              text:'Seleccione color de impresion!'
				            });
				   }else {
				   if(document.querySelector('input[type="file"]').files.length === 0){
					   console.log('Algun campo vacio');
			            Swal.fire({
				              icon: 'error',
				              title: 'Error!',
				              text:'Seleccione un archivo para imprimir!'
				            });
				   }else{
					   if(forma_pago === ''){
						   Swal.fire({
					              icon: 'error',
					              title: 'Error!',
					              text:'Seleccione la forma de pago!'
					            });
					   }else{
			            console.log("validacion correcta");
			            var datos_pedido = new FormData();
			            datos_pedido.append('descripcion',$('#comentario').val());
			            datos_pedido.append('archivo', $('input[type=file]')[0].files[0]); 
			            datos_pedido.append('tipo',color_archivo);
			            datos_pedido.append('pago',forma_pago);
			            datos_pedido.append('precio',costoTotal.toString());
			            /*var text = {
			            	    "tipoDeImpresion":tipoImp,
			            	    "tamañoArchivo":parseInt(tamañoArchivo),
			            	    "descripcion":descripcion,
			            	    "metodoDePago":tipoDePago
			            	}*/
			            	console.log(...datos_pedido)
			            insertarBD(datos_pedido);
					   }
			        }
			   }
		}
	
		
		function insertarBD(datos){
			$.ajax({
	            url: "http://localhost:8080//"+matricula_usuario+"//pedido",
	            type: "POST",
	            data: datos,
	            enctype: 'multipart/form-data',
	            processData: false,
	            contentType: false,
	            cache: false,
	            success: function (res) {
	                console.log(res);
	                var file = datos.get("archivo");
	                console.log(file.name);
	                //alert("Se ha creado correctamente");
	                Swal.fire({
			              icon: 'success',
			              title: 'Tu archivo se está imprimiendo!',
			              html:'<h3>'+file.name+'</h3><p>Tipo de Impresión: '+res.tipoImpresion+'</p><p>Total: $'+res.precioTotal+' pesos</p><p>Comentarios: '+res.descripcionImpresion+'</p>' 
			            });
	                /**Limpia los campos para una nueva petición**/
	                $('input[type=file]')[0].files[0].name = '';
	                $('input[type=file]')[0].value = ''; // reset del valor
	                $('#pagoTypeE').prop('checked',false);
	                $('#pagoTypeT').prop('checked',false);
	                $('#impresionTypeC').prop('checked',false);
	                $('#impresionTypeByN').prop('checked',false);
	                $('input[type=text]').val('');
	                costo.innerHTML= "El pedido es de $********MXN.";
	                $("#pagoTypeT").attr('disabled', false);
					$("#pagoTypeE").attr('disabled', false);
	                costoTotal = 0;
	        		count = 0;
	        		color_archivo = '';
	        		forma_pago = '';
	        		fileNameAux = '';
	            },
	            error: function (err) {
	            	console.log("Verifica si esxiste la ruta del archivo");
	                console.error(err);
	                Swal.fire({
			              icon: 'error',
			              title: 'Error!',
			              text:'No se puede realizar la compra!'
			            });
	            }
	        });
		}
		
		
		/****************LISTENER PARA FORMULARIOS******************/
		function eventListeners(accion){
			if (accion === "pedido"){
				console.log("Dentro de pedido");
				formulario_registrar_pedido.addEventListener('submit', leerFormulario);
			}
		}
	
	</script>
</html>

